

body{
    background: linear-gradient(160deg, #9198e5, #e66465);
    font-family:'Sansita', 'Roboto', sans-serif; 
}

.title{
    text-align:center;
    font-weight:300;
    color:#FFFFFF;
    font-size:2em;
    margin-bottom:5%;
}

.instructions{
    text-align:center;
    font-weight:100;
    color:#FFFFFF;
    font-size:1em;
}

.robot{
    text-align:center;
    padding-right:3em;
}



.optionsContainer{
    display:flex;
    flex-flow:row wrap;
    justify-content:space-around;
    align-items:center;
    border:2px solid red;
    gap: 4em;
}


/* Button credit https://fdossena.com/?p=html5cool/buttons/i.frag */
.button1{
    line-height: 5em;
    flex:1;
    border:0.1em solid #FFFFFF;
    border-radius:0.12em;
    text-decoration:none;
    font-weight:300;
    color:#FFFFFF;
    background:none;
    font-size:2em;
    text-align:center;
    transition: all 0.2s;
}

.button1:hover{
    cursor:pointer;
    color:#000000;
    background-color:#FFFFFF;
}

@media all and (max-width:30em){
    a.button1{
    margin:0.4em auto;
    }
} 