

body{
    font-family:'Sansita', 'Roboto', sans-serif;
    background: center center fixed no-repeat url("../images/background.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-size:20px;
}

.holograph{
    background-color:white;
    border:0.5em solid rgb(66, 77, 177);
    margin:5% 20%;
    height:auto;
    transition: all 1s ease-out;
    text-transform: uppercase;
	color: #ffd9e2;
	box-shadow: 0 0 0 transparent,
                0 0 0.1em #e9e5e6,
                0 0 0.2em rgba(255, 0, 60, 0.5),
                0 0 0.3em #e9e5e6,
                0 0 0.5em #e9e5e6,
                0 0 0.6em #e9e5e6,
                0 0 0.7em #e9e5e6,
                0 0 0.8em #e9e5e6,
                0 0 10em #e9e5e6;
	animation: animate 10s infinite alternate;
}
@keyframes animate {
	40% {
		opacity: 1;
	}
	42% {
		opacity: 0.95;
	}
	43% {
		opacity: 1;
	}
	45% {
		opacity: 0.85;
	}
	46% {
		opacity: 1;
	}
}

.title{
    text-align:center;
}

.instructions{
    text-align:center;
}