
body{
    font-family:'Sansita', 'Roboto', sans-serif;
    background: center center fixed no-repeat url("../images/background.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-size:20px;
}

.holograph{
    background-color:rgba(255, 255, 255, 0.6);
    border:0.5em solid rgb(66, 77, 177);
    margin:1% 20%;
    height:auto;
    transition: all 1s ease-out;
    text-transform: uppercase;
    z-index:1;
	box-shadow: 0 0 0 transparent,
                0 0 0.1em #e9e5e6,
                0 0 0.2em rgba(255, 0, 60, 0.5),
                0 0 0.3em #e9e5e6,
                0 0 0.5em #e9e5e6,
                0 0 0.6em #e9e5e6,
                0 0 0.7em #e9e5e6,
                0 0 0.8em #e9e5e6,
                0 0 10em #e9e5e6;
	animation: animate 10s infinite alternate;
}
@keyframes animate {
	40% {
		opacity: 1;
	}
	42% {
		opacity: 0.95;
	}
	43% {
		opacity: 1;
	}
	45% {
		opacity: 0.85;
	}
	46% {
		opacity: 1;
	}
}


.title{
    font-size:2em;
    text-align:center;
}

.instructions{
    text-align:center;
}

#startButton{
    display:block;
    margin:1em auto;
    padding:0.1em 1.5em;
    line-height: 3em;
    flex:1;
    border:0.1em solid #FFFFFF;
    border-radius:0.12em;
    text-decoration:none;
    font-weight:300;
    color:rgb(0,0,0);
    background:none;
    font-size:2em;
    text-align:center;
    transition: all 0.2s;
}

#startButton:hover{
    cursor:pointer;
    color:#000000;
    background-color:rgba(255,255,255, 0.5);
}

#scoreFlexContainer{
    display:flex;
    gap:3em;
    align-items:center;
    margin:0em 3em;
}

#robotImage{
    flex:1;
    max-width:30%;
    height:auto;
}

#robotScoreBox{
    flex:1;
    background-color:rgba(150, 255, 255, 0.4);
    height:8em;
}

#humanScoreBox{
    flex:1;
    background-color:rgba(255, 255, 255, 0.4);
    height:8em;
}

#robotScoreText,#humanScoreText{
    text-align:center;
    padding-top:10%;
}

#optionsContainer{
    display:flex;
    gap:4em;
    
}

#rockButton, #scissorsButton, #paperButton{
    flex:1;
    margin-top:1em;
    cursor:pointer;
    color:black;
    font-size:3em;
    background-color:rgba(255, 255, 255, 0.8);
    border:0.1em solid rgb(66, 77, 177);
    transition: all 1s ease-out;
    text-transform: uppercase;
	box-shadow: 0 0 0 transparent,
                0 0 0.1em #e9e5e6,
                0 0 0.2em rgba(255, 0, 0, 0.5),
                0 0 0.7em #e9e5e6,
                0 0 0.5em #e9e5e6;
	animation: animate 3s infinite alternate;
}
@keyframes animate {
	40% {
		opacity: 1;
	}
	42% {
		opacity: 0.95;
	}
	43% {
		opacity: 1;
	}
	45% {
		opacity: 0.85;
	}
	46% {
		opacity: 1;
	}
}

/* Mobile and small resolution accessibility. */
@media only screen and (max-width: 1000px) {
    .holograph {
        margin:0%;
    }
    
    #scoreFlexContainer{
        gap:5%;
    }
    
    #optionsContainer{
        flex-direction:column;
        gap:0em;
    }
    #rockButton, #scissorsButton, #paperButton{
        font-size:2.25;
    }
}